
<ion-content style=" --background: url(../../assets/img/getstart.jpg) no-repeat center/cover fixed;">
  <ion-card style="margin-left : 0 !important; overflow : hidden; position : absolute; top : 0; left : 0; width : 100vw; height : 100px; background : url(../../assets/bg4.png); background-size: cover; border-radius : 50px; z-index : 30; top : -50px;">
 

    
    <div style="text-align : center; padding-top : 10px; font-weight: bold;  left : calc(50vw - 60px); position : absolute; top : 54px;  width : 120px; height : 40px; z-index : 100; background-size : cover; ">
      PRA ASESMEN
    </div>
  </ion-card>
  
  <ion-grid style="margin-top : 60px;">

    <ion-row>
      <ion-card  style="--background: url(../../../assets/img/getstart.jpg) no-repeat center/cover fixed;
      overflow : scroll;   width : 100%; height : auto; margin : 20px 20px 20px 20px; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%); border-radius : 30px; z-index : 30; ">

        <ion-row>
          <ion-col>
            <br>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              1. Jelaskan konsep dan urgensi etika digital di era keterbukaan informasi saat ini!
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              <ion-textarea [(ngModel)]="answer1" placeholder="Jawab"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              2. Sebutkan masing-masing tiga dampak positif dan negatif perkembangan teknologi digital dalam berbagai aspek kehidupan!
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              <ion-textarea [(ngModel)]="answer2" placeholder="Jawab"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              3. Apa saja tanggung jawab warga negara untuk memastikan penggunaan teknologi digital yang bertanggung jawab dan etis?
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              <ion-textarea [(ngModel)]="answer3" placeholder="Jawab"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        



       

        <ion-row>
          <ion-col>
            <ion-item style="text-align : justify; --background : transparent; color : black; ">
              <ion-button expand='block' shape="round" color="secondary" style="width: 100vw; height: 40px;" (click)="updatePreases()">
                Submit
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        
    
        <ion-row>
          <ion-col>
            
              <br>
              <br>

          </ion-col>
        </ion-row>
 
     
        <ion-row>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ion-row>
       
    

      
      
      
      
        
    </ion-card>
    </ion-row>
  </ion-grid>

  

  

    
  </ion-content>
  
  
